{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% block content %}
    {{ form_start(ConfigurationTextForm, {'action': path('configuration_form_create'), 'method': 'POST'}) }}
    <div class="card">
        <h3 class="card-header"><i class="material-icons">settings</i></h3>
        <div class="card-body">
            <div class="form-wrapper">{{ form_widget(ConfigurationTextForm) }}</div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary"/>
                Save </button>
            </div>
        </div>
    </div>
    {{ form_end(ConfigurationTextForm) }}
{% endblock %}


